.model {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	@extend %flexBoxCenter;
	&__body {
		background: $white;
		width: 38rem;
		height: auto;
		padding: 2rem;
		font-size: 1.4rem;
		@include animation(modelAnimation, 0.5s, linear, -8rem, 0px);
	}
}
